@font-face {
    font-family: "sans";
    src: url("../../font/IRANSansWeb_Light.eot") format("eot"),
    url("../../font/IRANSansWeb_Light.woff") format("woff"),
    url("../../font/IRANSansWeb_Light.woff2") format("woff2");
}

* {
    font-family: "sans";
}

body {
    direction: rtl;
}

.top-bar {
    z-index: 999;
}

.top-bar .logo {
    cursor: pointer;
}

.avatar-container {
    background: gray url("../../images/avatar/avatar-1.jpg") no-repeat center center/cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
}

#avatar-name {
    cursor: pointer;
}

.online-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    outline: 3px solid #212529;
    background-color: rgb(31, 204, 31);
}

.hamburger-menu-container {
    width: 0;
    height: calc(100vh - 72px);
    transition: all 0.3s linear;
    position: fixed;
    top: 72px;
    right: 0;
}

.active {
    width: 18%;
}

.hamburger-ul li a {
    transition: all 0.1s linear;
}

.hamburger-ul li a:hover {
    color: #fff !important;
}

.hamburger-ul .active {
    color: #1212ce !important;
}

.fixed-cover {
    width: 0;
    z-index: -2;
    transition: all 0.3s linear;
}

.fixed-cover.active {
    width: 18%;
}

.main {
    z-index: 998;
    width: 70%;
    margin: 3rem auto;
}

#num-of-content {
    direction: rtl;
}