@font-face {
    font-family: "sans";
    src: url("../../font/IRANSansWeb_Light.eot") format("eot"),
    url("../../font/IRANSansWeb_Light.woff") format("woff"),
    url("../../font/IRANSansWeb_Light.woff2") format("woff2");
}

* {
    font-family: "sans";
}

body {
    direction: rtl;
}

#img {
    position: absolute;
    top: 0;
    left: 0;
    background: #808080 url("../../images/login.jpg") no-repeat center center/cover;
}

#email {
    direction: rtl;
}