<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1c2be4c5b1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/assets/css/bootstrap/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="/static/assets/css/login/style.css">
    <title>authentication</title>
</head>

<body>

    <div class="row vh-100 mw-100 m-0 position-relative">

        <div class="col-5 px-5 d-flex flex-column justify-content-center">
            {{{body}}}
        </div>

        <div id="img" class="col-7 bg-black vh-100"></div>

    </div>

    <script src="/static/assets/js/login.js"></script>
    <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
</body>

</html>