<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/assets/css/bootstrap/bootstrap.rtl.min.css">
    <title>error</title>
</head>
<body class="vh-100 d-flex justify-content-center align-items-center text-center text-light bg-dark">
    <div class="border border-danger p-5">
        {{{body}}}
        <a href="/">home page</a>
    </div>
</body>
</html>